#!/bin/sh

DISK_C=base.img
DISK_D=swap.img
CDROM=/data/_iso/ubuntu/dvd/kubuntu-7.04-dvd-i386.iso

ACPI=yes
BOOT=d
MEMORY=512
MACADDR=52:54:00:12:34:04
MOUSE=usb
NET=bridge
SMP=yes
SOUNDHW=sb16
STDVGA=yes
UTC=no
VNC=yes
