#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/langcore.mk
#include /usr/share/cdbs/1/class/makefile-vars.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

# post install
$(patsubst %,install/%,$(DEB_ALL_PACKAGES)) ::
	pkg=$(subst install/,,$@); \
		script=$${pkg#ossxp-linux-}.py ;\
		if [ -f debian/install/$$script ]; then \
			mkdir -p debian/$$pkg/opt/ossxp/install/ ;\
			install -m 750 debian/install/$$script debian/$$pkg/opt/ossxp/install/ ;\
		fi

# binary-fixup
$(patsubst %,binary-fixup/%,$(DEB_ALL_PACKAGES)) ::
	pkg=$(subst binary-fixup/,,$@); \
		find debian/$$pkg/ \( -name .svn -o -name "*~" \) -exec rm -rf {} + 

binary-fixup/ossxp-linux-base::
	chmod -R 700 debian/ossxp-linux-base/etc/ossxp

debian/control::
	#chmod a+x debian/update_configs
	debian/update_configs

.PHONY: debian/control
# vim: noet
